header {
  position: fixed;
  top: 0;
  z-index: 2;
}

header .search {
  padding: 5px;
  width: 100%;
  background-color: #C6DCF3;
  box-shadow: -8px 3px 18px -4px gray;
  position: fixed;
}

header .search input {
  width: 250px;
}

#settings-btn {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 9px;
}
#settings-btn:active {
  top: 11px;
}

header .settings {
  position: fixed;
  top: 0;
  margin-top: 33px;
  width: 100%;
  background-color: #FEFADF;
  box-shadow: -3px 0px 17px -1px gray;
  overflow: hidden;
  height: 0;
  transition: height 0.11s linear;
}

header .settings.open {
  height: 135px;
}
header .settings .settings-content {
  padding: 5px;
  font-size: 12px;
}

fieldset {
  border: none;
  padding: 2px 0 2px 0;
  margin: 0;
  border-bottom: 1px solid lightgray;
}

header .settings .settings-content fieldset:last-child {
  border-bottom-width: 0;
}

header .information {
  margin-top: 5px;
}

header p {
  padding: 3px 0;
  margin: 0;
  font-size: 11px;
}

header a {
  padding: 5px 0;
  margin: 0;
  color: steelBlue;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
  color: #005580;
}

//input::-webkit-outer-spin-button,
//input::-webkit-inner-spin-button {
//    /* display: none; <- Crashes Chrome on hover */
//    -webkit-appearance: none;
//    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
//}

#max-num-items-text {
  padding: 2px;
}