body {
  margin: 0;
  font-family: Arial, 'Liberation Sans', 'DejaVu Sans', sans-serif;
}

header {
  position: fixed;
  top: 0;
  z-index: 2;
}

header .search {
  padding: 5px;
  width: 100%;
  background-color: #C6DCF3;
  box-shadow: -8px 3px 18px -4px gray;
  position: fixed;
}

header .search input {
  width: 250px;
}

#no-settings-message {
  display: none;
  vertical-align: middle;
  text-align: center;
  margin-top: 35px;
}

.list {
  padding: 20px 0 0 0;
  min-height: 80px;
}

.review-list {
  list-style: none;
  padding: 0;
  width: 400px;
}
.review-list li {
  margin: 0;
  font-size: 13px;
  border-bottom: 1px solid #d0d0d0;
  cursor: pointer;
  padding: 5px 3px 5px 3px;
}
.review-list li .body {
  display: table;
}
.review-list li .content {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  position: relative;
}
.review-list li .profile-img {
  width: 35px;
  margin-right: 8px;
}
.review-list li .ship-it-img {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 2px;
}
.review-list li:nth-child(odd) {
  background-color: #F2F2F2;
}
.review-list li:hover {
  background-color: #D4E0F3;
}
.review-list li p {
  margin: 0;
  padding: 0;
}
.submitter {
  display: block;
  margin-bottom: 5px;
  font-style: italic;
  color: #575012;
  font-size: 12px;
}
.updated {
  display: block;
  font-size: 11px;
  margin-top: 5px;
  color: grey;
  text-align: right;
}

.list.under {
  opacity: 0.3;
}