<!DOCTYPE HTML>
<html>

<head>
  <title>RBN - Review Board Notifier</title>

  <!--[SCRIPTS]-->
  <script src="js/migration.js"></script>

  <script src="js/lib/string-format.js"></script>
  <script src="js/lib/jquery-1.8.2.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/moment.js"></script>

  <script src="js/lib/fuse.js"></script>
  <script src="js/lib/fiber.js"></script>
  <script src="js/utils/mixins.js"></script>

  <script src="js/setup.js"></script>
  <script src="js/constants.js"></script>
  <script src="js/dal.js"></script>
  <script src="js/settings.js"></script>

  <script src="js/ui/list.js"></script>
  <script src="js/ui/rb-list.js"></script>
  <script src="js/ui/header.js"></script>

  <script src="js/app.js"></script>

  <!--[CSS]-->
  <link type="text/css" rel="stylesheet" href="css/header.css">
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <link type="text/css" rel="stylesheet" href="css/spinner.css">
</head>

<body>

<header>
  <section class="search">
    <input type="text" id="search" placeholder="Search summary, submitter...">
    <button id="refresh-btn">refresh</button>
    <img id="settings-btn" src="settings-icon.png" title="Settings"/>
  </section>
  <section class="settings">
    <div class="settings-content">
      <fieldset>
        <input type="checkbox" id="notifications-chbx"/>
        <label for="notifications-chbx" title="Show notification">Display notifications</label>
      </fieldset>
      <fieldset>
        <label for="max-num-items-text" title="Max number of RBs">Display a max of</label>
        <input type="number" id="max-num-items-text" min="5" max="25">
        <label for="max-num-items-text">RBs</label>
        <label for="time-dropdown"> since</label>
        <select id="time-dropdown">
         <option value="1">today</option>
         <option value="2">yesterday</option>
         <option value="3">the last week</option>
         <option value="4">the last 2 weeks</option>
       </select>
      </fieldset>
      <fieldset>
        <label>Display RB which:</label>
        <input type="checkbox" id="need-shipit-chbx" data-rbn-value="1" />
        <label for="need-shipit-chbx">need a Ship It!</label>
        <input type="checkbox" id="have-shipit-chbx" data-rbn-value="2" />
        <label for="have-shipit-chbx">have a Ship It!</label>
      </fieldset>
      <fieldset>
        <label for="poll-interval-text" title="Poll internval">Poll every</label>
        <input type="number" id="poll-interval-text" min="1" max="60">
        <label for="poll-interval-text">minute(s)</label>
      </fieldset>
      <section class="information">
        <p>
          Issues? Feature requests?  Please use the <a href="https://github.com/krisk/rbn/issues">GitHub issue tracker</a>.
        </p>
        <p>
          See the project on <a href="https://github.com/krisk/rbn/">GitHub</a>.
        </p>
      </section>
    </div>
  </section>
</header>

<section class="list">
  <div class="spinner">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <div class="bar4"></div>
    <div class="bar5"></div>
    <div class="bar6"></div>
    <div class="bar7"></div>
    <div class="bar8"></div>
    <div class="bar9"></div>
    <div class="bar10"></div>
    <div class="bar11"></div>
    <div class="bar12"></div>
  </div>
  <ul class="review-list">
  </ul>
</section>

<script id="list-item-template" type="text/html">
  <li data-item-id="<%= id %>">
    <div class="body">
      <img src="http://cinco.corp.linkedin.com/images/users/thumbnail/<%= submitter %>.jpg"></img>
      <div class="content">
        <span class="submitter"><%= submitter %></span>
        <p class="summary"><%= summary %></p>
        <span class="updated"><%= moment(last_updated).fromNow() %></span>
      </div>
    </div>
  </li>
</script>

</body>
</html>