<!DOCTYPE HTML>
<html>

<head>
  <title>RBN - Review Board Notifier</title>
  <script src="js/lib/jquery-1.8.2.min.js"></script>
  <script src="js/lib/fuse.min.js"></script>
  <script src="js/lib/fiber.min.js"></script>
  <script src="js/lib/underscore.min.js"></script>
  <script src="js/lib/date.js"></script>
  <script src="js/utils/mixins.js"></script>

  <script src="js/setup.js"></script>
  <script src="js/dal.js"></script>
  <script src="js/settings.js"></script>

  <script src="js/ui/list.js"></script>
  <script src="js/ui/rb-list.js"></script>
  <script src="js/ui/header.js"></script>

  <script src="js/app.js"></script>

  <link type="text/css" rel="stylesheet" href="css/header.css">
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <link type="text/css" rel="stylesheet" href="css/spinner.css">
</head>

<body>

<section class="list">
  <header>
    <section class="search">
      <input type="text" id="search" placeholder="Search summary, submitter...">
      <button id="refresh-btn">refresh</button>
      <img id="settings-btn" src="settings-icon.png" title="Settings"/>
    </section>
    <section class="settings">
      <div class="settings-content">
        <input type="checkbox" id="notifications-chbx"/>
        <label for="notifications-chbx" title="Show notification">Notifications</label>
      </div>
    </section>
  </header>

  <div id="spinner" class="spinner">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <div class="bar4"></div>
    <div class="bar5"></div>
    <div class="bar6"></div>
    <div class="bar7"></div>
    <div class="bar8"></div>
    <div class="bar9"></div>
    <div class="bar10"></div>
    <div class="bar11"></div>
    <div class="bar12"></div>
  </div>

  <ul id="items" class="review-list">
  </ul>
  <ul id="search-items" class="review-list">
  </ul>
</section>

<script id="list-item-template" type="text/html">
  <li data-item-id="<%= id %>">
    <div class="body">
      <img src="http://cinco.corp.linkedin.com/images/users/thumbnail/<%= submitter %>.jpg"></img>
      <div class="content">
        <span class="submitter"><%= submitter %></span>
        <p class="summary"><%= summary %></p>
        <span class="updated"><%= prettyDate(last_updated) %></span>
      </div>
    </div>
  </li>
</script>

</body>
</html>